{% extends "base.html" %}

{% load static %}

{% block Titulo %} Inicio {% endblock %}

{% block base %} 

<h1> Alumno Jason Mackern </h1>
<h2> Decidi hacer el trabajo hacerca de una Pizzaria. </h2>
<h5> _________________________________________________________________________________________ </h5>
<h3> Las pizzas son mi comida favorita, en esta página se puede ver: </h3>
<h4> El Listado de Pizzas donde estan todas las opciones, también se pueden crear mas Pizzas. </h4>
<h4> Tiene un buscador, para encontrar la pizza que se desea. </h4>
<h4> El Listado de Empanadas donde estan todas las opciones. </h4>
<h4> El Listado de Gaseosas donde estan todas las opciones. </h4>
<h4> El admin esta completamente detallado con todos los productos. </h4>
<h4> En el admin se puede ingresar con el usuario: "Profesores" y la contraceña: "P12345678" </h4>

{% endblock %}