{% extends "base.html" %}

{% load static %}

{% block Titulo %} Pizzas {% endblock %}

{% block base %}

{% for pizza in producto %}
<div class="card" style="width: 18rem;">
    <img src="https://www.lavanguardia.com/files/og_thumbnail/files/fp/uploads/2021/03/30/6063031b90a87.r_d.1083-871-0.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{pizza.nombre}}</h5>
      <p class="card-text">Su precio es: ${{pizza.precio}}.</p>
        {% if pizza.stock == True %}
            <p>Actualmente hay stock</p>
        {% else %}
            <p>Actualmente no hay stock</p>
        {% endif %}
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>
{% endfor %}
{% endblock %}