{% extends "base.html" %}

{% load static %}

{% block Titulo %} Pizzas {% endblock %}

{% block base %}
<h1>Listado de pizzas</h1>
{% for pizza in producto %}
<div class="card bg-dark text-dark">
  {% if pizza.imagen %}
  <img src="{{pizza.imagen.url}}" class="card-img" alt="...">
  {% endif %}
  <div class="card-img-overlay">
    <h5 class="card-title">{{pizza.nombre}}</h5>
    <p class="card-text">Su precio es: ${{pizza.precio}}</p>
    {% if pizza.stock == True %}
        <p>Actualmente hay stock</p>
      {% else %}
        <p>Actualmente no hay stock</p>
      {% endif %}
    <p class="card-text"><small class="btn btn-primary">Comprar</small></p>
    {% if request.user.is_authenticated %}
    {% if request.user.is_superuser %}
    <a href="/App_pizza/editar/{{pizza.id}}/" class="btn btn-primary">Editar</a>
    <a href="/App_pizza/borrar/{{pizza.id}}/" class="btn btn-danger">Borrar</a>
    {% endif %}
    {% endif %}
  </div>
</div>
  {% endfor %}
{% endblock %}